@charset "ISO-8859-1";

body {
	background: lightblue;
}

table, td, th {
	border: 1px black solid;
	border-collapse: collapse; 
	text-align: center;
	
}

th {
	background-color: gainsboro;
}

.div-body{
	position: fixed;
	left: 225px;
	top: 125px;
}

.header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    background-color: steelblue;
    color: white;
    height: 50px;
    text-align: center;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: steelblue;
    color: white;
    height: 50px;
    text-align: center;
}

.sidenav {
  height: 539px;
  width: 145px;
  position: fixed;
  /* z-index: 1; */
  top: 50px;
  left: 0;
  background-color: steelblue;
  /* overflow-x: hidden; */
  padding-top: 50px;
}

.sidenav a{
  padding: 5px;
  text-decoration: none;
  font-size: 17px;
  color: aliceblue;
  display: block;
  text-align: center;
}
